<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Customers</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Shipping Address</th>
    <th>Number Of Purchases</th>
  </tr>
  <% if(typeof Customers != "undefined" && Customers.length > 0){ %>
    <% Customers.forEach(function(customer){ %>
      <tr>
        
        <td><%= customer.id %></td>
        <td><%= customer.firstName %></td>
        <td><%= customer.lastName %></td>
        <td><%= customer.shippingAddress %></td>
        <td><%= customer.numberOfPurchases %></td>
        
        
      </tr>
    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="5">0 records found</td>
      </tr>
  <% } %>
  
</table>


